.wrapper {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.employee-main-screen {
  flex-direction: row;
}
.employee-main-screen .wrapper {
  width: 100%;
}
.employee-main-screen button {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
}

.employees {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: auto;
  grid-gap: 14px 7px;
  justify-content: center;
  padding: 14px;
  box-sizing: border-box;
  justify-content: start;
}

.wildCard {
  background-color: white;
  width: 250px;
  min-width: 250px;
  height: 350px;
  box-sizing: border-box;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  opacity: 0.4;
  position: relative;
  transition: 0.2s ease-in-out;
}
.wildCard::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.529);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  opacity: 0;
  border-radius: 14px;
}
.wildCard .text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: small;
}
.wildCard .material-symbols-outlined {
  color: #83859C;
  float: left;
  font-variation-settings: "FILL" 1;
}
.wildCard .name-and-title {
  font-size: normal;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  width: 100%;
  background: linear-gradient(135deg, #fad961 0%, #f76b1c 100%);
  box-sizing: border-box;
  padding: 14px;
  border-radius: 14px 14px 0px 0px;
  padding-bottom: 33px;
  min-height: 103px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wildCard .name-and-title .title {
  color: white;
  font-weight: 700;
  font-size: large;
}
.wildCard .profilepicture {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  transform: translateY(-50%);
  justify-self: center;
  background-color: white;
}
.wildCard .profilepicture img {
  height: 40px;
  padding-top: 10px;
}
.wildCard .required-hours {
  width: 80%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}
.wildCard .required-experience {
  width: 80%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}
.wildCard .maximum-salary {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}
.wildCard .more-info {
  width: 80%;
  margin-top: 10px;
  font-family: "Montserrat";
}
.wildCard .more-info .title {
  font-weight: 620;
  font-size: small;
}
.wildCard .more-info .text {
  font-weight: 500;
  font-size: small;
}
.wildCard .languages {
  margin-top: 10px;
  width: 80%;
}
.wildCard .languages .flag img {
  float: left;
  margin-right: 5px;
  height: 20px;
  border-radius: 2px;
}

@-webkit-keyframes animated-card {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animated-card {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
.wildCards {
  display: flex;
  box-sizing: border-box;
  overflow-x: scroll;
  gap: 7px;
  width: 100%;
  padding: 14px;
}

.card-animation:hover {
  -webkit-animation: animated-card 1s infinite;
          animation: animated-card 1s infinite;
}

.employeeCard {
  background-color: white;
  width: 250px;
  height: 350px;
  box-sizing: border-box;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -4px -4px 15px white, 4px 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.employeeCard .material-symbols-outlined {
  color: #83859C;
  float: left;
  font-variation-settings: "FILL" 1;
}
.employeeCard .text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: small;
}
.employeeCard .name-and-title {
  font-size: 13pt;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  width: 100%;
  background: linear-gradient(135deg, #17ead9 0%, #6078ea 100%);
  box-sizing: border-box;
  padding: 14px;
  border-radius: 14px 14px 0px 0px;
  padding-bottom: 33px;
  min-height: 100px;
  height: 100px;
}
.employeeCard .name-and-title .title {
  color: rgba(255, 255, 255, 0.635);
  font-weight: 500;
  font-size: smaller;
}
.employeeCard .name-and-title .name {
  font-weight: 700;
  color: white;
}
.employeeCard .profilepicture {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  transform: translateY(-50%);
  justify-self: center;
  background-color: white;
}
.employeeCard .profilepicture img {
  height: 40px;
  padding-top: 10px;
}
.employeeCard .available-hours {
  width: 80%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.employeeCard .experience {
  width: 80%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.employeeCard .salary {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.employeeCard .more-info {
  width: 80%;
  margin-top: 10px;
  font-family: "Montserrat";
}
.employeeCard .more-info .title {
  font-weight: 620;
}
.employeeCard .languages {
  margin-top: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
}
.employeeCard .languages .flag img {
  float: left;
  margin-right: 5px;
  height: 20px;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(56, 51, 51, 0.688);
}

.editWildCardModal {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(10px) brightness(0.7);
          backdrop-filter: blur(10px) brightness(0.7);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.editWildCardModal .wrapper {
  margin: auto;
  font-family: "Montserrat";
  background-image: url("../../../public/layered-waves_variant1.svg");
  background-color: #eff1f3;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  box-sizing: border-box;
}
.editWildCardModal .wrapper .heading {
  font-size: 20pt;
  font-weight: 700;
}
.editWildCardModal .wrapper .settings {
  width: 100%;
  height: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Montserrat";
  font-weight: 500;
}
.editWildCardModal .wrapper .settings select {
  border: none;
  background-color: white;
  height: 30px;
  border-radius: 8px;
}
.editWildCardModal .wrapper .settings input {
  border: none;
  background-color: white;
  height: 30px;
  border-radius: 8px;
  padding: 0px;
}
.editWildCardModal .wrapper .settings .named-field {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}
.editWildCardModal .wrapper .settings .named-field label {
  margin-bottom: 5px;
}
.editWildCardModal .wrapper .settings .row1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}
.editWildCardModal .wrapper .settings .row1 .function-input {
  width: 400px;
}
.editWildCardModal .wrapper .settings .row1 .experience-input {
  width: 140px;
}
.editWildCardModal .wrapper .settings .row1 .hours-input {
  width: 140px;
}
.editWildCardModal .wrapper .settings .row1 .hours-input input[type=text] {
  text-align: center;
}
.editWildCardModal .wrapper .settings .row1 .hours-input .variable-hours-rb {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}
.editWildCardModal .wrapper .settings .row1 .hours-input .variable-hours-rb input[type=checkbox] {
  margin: 0;
  margin-right: 10px;
  accent-color: #758bd4;
}
.editWildCardModal .wrapper .settings .row2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}
.editWildCardModal .wrapper .settings .row2 .location-input {
  width: 250px;
}
.editWildCardModal .wrapper .settings .row2 .language-input {
  width: 200px;
}
.editWildCardModal .wrapper .settings .row2 .language-input .icon-and-text {
  height: 30px;
  border: 2px solid #c9cce2;
  color: #7b81ba;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.editWildCardModal .wrapper .settings .row2 .language-input .icon-and-text .material-symbols-outlined {
  scale: 0.8;
  color: #83859C;
  float: left;
  font-variation-settings: "FILL" 1;
}
.editWildCardModal .wrapper .settings .row3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}
.editWildCardModal .wrapper .settings .row3 .skills-input {
  width: 50%;
}
.editWildCardModal .wrapper .settings .row3 .skills-input div {
  background-color: white;
  border-radius: 8px;
  height: 200px;
}
.editWildCardModal .wrapper .settings .row3 .skills-suggestion {
  width: 50%;
}
.editWildCardModal .wrapper .settings .row3 .skills-suggestion .heading {
  font-weight: 500;
  font-size: 12pt;
  color: #ABABAB;
  margin-bottom: 5px;
}
.editWildCardModal .wrapper .settings .row3 .skills-suggestion .suggested-skills {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 40px 40px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 5px;
  margin-bottom: 15px;
}
.editWildCardModal .wrapper .settings .row3 .skills-suggestion .suggested-skills .item {
  width: 80px;
  background-color: #c9cce2;
  padding: 3px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.editWildCardModal .wrapper .buttons {
  display: flex;
  justify-content: flex-end;
}
.editWildCardModal .wrapper .buttons button {
  padding: 15px;
}
.editWildCardModal .wrapper .buttons .cancel {
  background: none;
  color: #4F4C6A;
  margin-right: 20px;
}/*# sourceMappingURL=employee.css.map */