.wrapper{

    display: flex;
    flex-direction: column;
    overflow: scroll;

}

.employee-main-screen{
    flex-direction: row;
}

.employees{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    justify-content: center;

}

.wildCard{
    
    background-color: white;
    min-width: 250px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    opacity: 0.4;

    &:hover{

        opacity: 0.8;

    }

    .text {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: small;
    }

    .material-symbols-outlined {
        color: #83859C;
        float: left;
        font-variation-settings : 'FILL' 1
    }
    

    .name-and-title{
        
        font-size: normal;
        font-family: "Montserrat";
        font-weight: 600;
        text-align: center;
        width: 100%;
        background-image: linear-gradient(#E1CBDE, #D2DCFF);
        box-sizing: border-box;
        padding: 14px;
        border-radius: 14px 14px 0px 0px;
        padding-bottom: 33px;

        .title{

            color: black;
            font-weight: 700;
            font-size: large;

        }

    }

    .profilepicture{

        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid white;
        transform: translateY(-50%);
        justify-self: center;
        background-color: white;

        img{
            
            height: 40px;
            padding-top: 10px;
        }

        
    }

    .required-hours {

        width: 80%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;

    

        
    }

    .required-experience {

        
        width: 80%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;

        

    }

    .maximum-salary {

        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;

    }

    .more-info {

        width: 80%;
        margin-top: 10px;
        font-family: "Montserrat";

        .title {
            font-weight: 620;
            font-size: small;
        }

        .text {
            font-weight: 500;
            font-size: small;
        }
    }

    .languages {

        margin-top: 10px;
        width: 80%;

        .flag {
            img {
                float: left;
                margin-right: 5px;
                height: 20px;
                border-radius: 2px;
            }
        }
    }

}

.wildCards{
    display: flex;
    box-sizing: border-box;
    overflow-x: scroll;
    gap: 7px;
    width: 100%;
    padding: 14px;

}

.employee{
    
    background-color: whitesmoke;
    border: 1px solid #4e4c6a;
    min-width: 250px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 14px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .picture-name{


        display: flex;
        flex-direction: row;
        gap: 7px;

        .name{

            p{

                color: black;
                font-weight: 700;
                font-size: smaller;
                padding: 0;
                margin: 0;
    
            }
    
            span{
    
                color: #4e4c6a;
                font-size: small;
                padding: 0;
                margin: 0;
    
            }

            
                
        }


        .profilepicture{

            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #4e4c6a;

            img{
                
                height: 40px;
            }

            
        }

        

    }
}