.wrapper {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.employee-main-screen {
  flex-direction: row;
}
.employee-main-screen button {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
}

.employees {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: auto;
  grid-gap: 14px 7px;
  justify-content: center;
  padding: 14px;
  box-sizing: border-box;
  justify-content: start;
}

.wildCard {
  background-color: white;
  width: 250px;
  height: 350px;
  box-sizing: border-box;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  opacity: 0.4;
  position: relative;
  transition: 0.2s ease-in-out;
}
.wildCard::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.529);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  opacity: 0;
  border-radius: 14px;
}
.wildCard .text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: small;
}
.wildCard .material-symbols-outlined {
  color: #83859C;
  float: left;
  font-variation-settings: "FILL" 1;
}
.wildCard .name-and-title {
  font-size: normal;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  width: 100%;
  background: linear-gradient(135deg, #fad961 0%, #f76b1c 100%);
  box-sizing: border-box;
  padding: 14px;
  border-radius: 14px 14px 0px 0px;
  padding-bottom: 33px;
}
.wildCard .name-and-title .title {
  color: white;
  font-weight: 700;
  font-size: large;
}
.wildCard .profilepicture {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  transform: translateY(-50%);
  justify-self: center;
  background-color: white;
}
.wildCard .profilepicture img {
  height: 40px;
  padding-top: 10px;
}
.wildCard .required-hours {
  width: 80%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}
.wildCard .required-experience {
  width: 80%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}
.wildCard .maximum-salary {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}
.wildCard .more-info {
  width: 80%;
  margin-top: 10px;
  font-family: "Montserrat";
}
.wildCard .more-info .title {
  font-weight: 620;
  font-size: small;
}
.wildCard .more-info .text {
  font-weight: 500;
  font-size: small;
}
.wildCard .languages {
  margin-top: 10px;
  width: 80%;
}
.wildCard .languages .flag img {
  float: left;
  margin-right: 5px;
  height: 20px;
  border-radius: 2px;
}

@-webkit-keyframes animated-card {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animated-card {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
.wildCards {
  display: flex;
  box-sizing: border-box;
  overflow-x: scroll;
  gap: 7px;
  width: 100%;
  padding: 14px;
}

.employeeCard {
  background-color: white;
  width: 250px;
  height: 350px;
  box-sizing: border-box;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -4px -4px 15px white, 4px 4px 15px rgba(0, 0, 0, 0.2);
}
.employeeCard:hover {
  -webkit-animation: animated-card 1s infinite;
          animation: animated-card 1s infinite;
}
.employeeCard .material-symbols-outlined {
  color: #83859C;
  float: left;
  font-variation-settings: "FILL" 1;
}
.employeeCard .text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: small;
}
.employeeCard .name-and-title {
  font-size: 13pt;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  width: 100%;
  background: linear-gradient(135deg, #17ead9 0%, #6078ea 100%);
  box-sizing: border-box;
  padding: 14px;
  border-radius: 14px 14px 0px 0px;
  padding-bottom: 33px;
  min-height: 100px;
}
.employeeCard .name-and-title .title {
  color: rgba(255, 255, 255, 0.635);
  font-weight: 500;
  font-size: smaller;
}
.employeeCard .name-and-title .name {
  font-weight: 700;
  color: white;
}
.employeeCard .profilepicture {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  transform: translateY(-50%);
  justify-self: center;
  background-color: white;
}
.employeeCard .profilepicture img {
  height: 40px;
  padding-top: 10px;
}
.employeeCard .available-hours {
  width: 80%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.employeeCard .experience {
  width: 80%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.employeeCard .salary {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.employeeCard .more-info {
  width: 80%;
  margin-top: 10px;
  font-family: "Montserrat";
}
.employeeCard .more-info .title {
  font-weight: 620;
}
.employeeCard .languages {
  margin-top: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
}
.employeeCard .languages .flag img {
  float: left;
  margin-right: 5px;
  height: 20px;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(56, 51, 51, 0.688);
}/*# sourceMappingURL=employee.css.map */