.wrapper{

    display: flex;
    flex-direction: column;
    overflow: scroll;

}

.employee-main-screen{
    flex-direction: row;
    
    button{
        border: none;
        outline: none;
        background-color: transparent;
        color: inherit;
        padding: 0;
        margin: 0;
    }
}

.employees{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);;
    grid-auto-rows: auto;
    grid-gap: 14px 7px;
    justify-content: center;
    padding: 14px;
    box-sizing: border-box;
    justify-content: start;

}

.wildCard{
    
    background-color: white;
    width: 250px;
    min-width: 250px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    opacity: 0.4;
    position: relative;
    transition: 0.2s ease-in-out;

    &::after{
        content: '';
        background-color: rgba(0, 0, 0, 0.529);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 20;
        opacity: 0;
        border-radius: 14px;
    }

    

    

    .text {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: small;
    }

    .material-symbols-outlined {
        color: #83859C;
        float: left;
        font-variation-settings : 'FILL' 1
    }
    

    .name-and-title{
        
        font-size: normal;
        font-family: "Montserrat";
        font-weight: 600;
        text-align: center;
        width: 100%;
        background:linear-gradient(135deg, #fad961 0%,#f76b1c 100%);
        box-sizing: border-box;
        padding: 14px;
        border-radius: 14px 14px 0px 0px;
        padding-bottom: 33px;
        min-height: 100px;
        height: 100px;

        .title{

            color: white;
            font-weight: 700;
            font-size: large;

        }

    }

    .profilepicture{

        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid white;
        transform: translateY(-50%);
        justify-self: center;
        background-color: white;

        img{
            
            height: 40px;
            padding-top: 10px;
        }

        
    }

    .required-hours {

        width: 80%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;

    

        
    }

    .required-experience {

        
        width: 80%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;

        

    }

    .maximum-salary {

        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;

    }

    .more-info {

        width: 80%;
        margin-top: 10px;
        font-family: "Montserrat";

        .title {
            font-weight: 620;
            font-size: small;
        }

        .text {
            font-weight: 500;
            font-size: small;
        }
    }

    .languages {

        margin-top: 10px;
        width: 80%;

        .flag {
            img {
                float: left;
                margin-right: 5px;
                height: 20px;
                border-radius: 2px;
            }
        }
    }

}

@keyframes animated-card {
    0%{transform: scale(1);}
    50%{transform: scale(1.02);}
    100%{transform: scale(1);}
}

.wildCards{
    display: flex;
    box-sizing: border-box;
    overflow-x: scroll;
    gap: 7px;
    width: 100%;
    padding: 14px;

}

.employeeCard{
    
    background-color: white;
    width: 250px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -4px -4px 15px white, 4px 4px 15px rgba(0, 0, 0, 0.20);

    &:hover{
        animation: animated-card 1s infinite;
    }



    .material-symbols-outlined {
        color: #83859C;
        float: left;
        font-variation-settings : 'FILL' 1;
    }

    .text {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: small;
    }
    

    .name-and-title{
        
        font-size: 13pt;
        font-family: "Montserrat";
        font-weight: 600;
        text-align: center;
        width: 100%;
        background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%);
        box-sizing: border-box;
        padding: 14px;
        border-radius: 14px 14px 0px 0px;
        padding-bottom: 33px;
        min-height: 100px;
        height: 100px;

        .title{
            color: rgba(255, 255, 255, 0.635);
            font-weight: 500;
            font-size: smaller;
        }

        .name {
            font-weight: 700;
            color: white;
        }

    }

    .profilepicture{

        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid white;
        transform: translateY(-50%);
        justify-self: center;
        background-color: white;

        img{
            height: 40px;
            padding-top: 10px;
        }
    }

    .available-hours {
        width: 80%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .experience {
        width: 80%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .salary {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .more-info {

        width: 80%;
        margin-top: 10px;
        font-family: "Montserrat";

        .title {
            font-weight: 620;
        }
    }

    .languages {

        margin-top: 10px;
        width: 80%;
        display: flex;
        justify-content: center;

        .flag {

            

            img {
                float: left;
                margin-right: 5px;
                height: 20px;
                border-radius: 2px;
                box-shadow: 0 0 3px rgba(56, 51, 51, 0.688);
            }
        }
    }
}

.editWildCardModal {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px) brightness(0.7);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    .wrapper {
        margin: auto;
        font-family: "Montserrat";
        background-image: url("../../../public/layered-waves_variant1.svg");
        background-color: #eff1f3;
        background-repeat: no-repeat;
        border-radius: 20px;
        padding: 20px;
        width: 80%;
        box-sizing: border-box;

        .heading {
            font-size: 20pt;
            font-weight: 700;
        }

        .settings {
            width: 100%;
            height: 80%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-family: "Montserrat";
            font-weight: 500;

            select {
                border: none;
                background-color: white;
                height: 30px;
                border-radius: 8px;
            }

            input {
                border: none;
                background-color: white;
                height: 30px;
                border-radius: 8px;
                padding: 0px;
            }
            
            .named-field {
                display: flex;
                flex-direction: column;
                align-items: left;
                width: 100%;

                label {
                    margin-bottom: 5px;
                }
            }

            .row1 {
                display: flex;
                flex-direction: row;
                gap: 30px;
                width: 100%;


                .function-input {
                    width: 400px;
                }

                .experience-input {
                    width: 140px;
                }

                .hours-input {

                    width: 140px;

                    input[type=text] {
                        text-align: center;
                    }

                    .variable-hours-rb {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 5px;

                        input[type=checkbox] {
                            margin: 0;
                            margin-right: 10px;
                            accent-color: #758bd4;
                        }
                    }
                }

            }

            .row2 {
                display: flex;
                flex-direction: row;
                gap: 20px;
                width: 100%;

                .location-input {
                    width: 250px;
                }

                .language-input {
                    width: 200px;

                    .icon-and-text {
                        height: 30px;
                        border: 2px solid #c9cce2;
                        color: #7b81ba;
                        border-radius: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        .material-symbols-outlined {
                            scale: 0.8;
                            color: #83859C;
                            float: left;
                            font-variation-settings : 'FILL' 1
                        }
                    }
                }
            }

            .row3 {
                display: flex;
                flex-direction: row;
                gap: 20px;
                width: 100%;

                .skills-input {
                    width: 50%;

                    div {
                        background-color: white;
                        border-radius: 8px;
                        height: 200px;
                    }
                }

                .skills-suggestion {

                    width: 50%;

                    .heading {
                        font-weight: 500;
                        font-size: 12pt;
                        color: #ABABAB;
                        margin-bottom: 5px;
                    }

                    .suggested-skills {
                        display: grid;
                        grid-template-columns: 80px 80px 80px;
                        grid-template-rows: 40px 40px; 
                        column-gap: 10px;
                        row-gap: 5px;
                        margin-bottom: 15px;

                        .item {
                            width: 80px;
                            background-color: #c9cce2;
                            padding: 3px;
                            border-radius: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                        }
                    }
                }
                
            }
        }

        .buttons {
            display: flex;
            justify-content: flex-end;

            button {
                padding: 15px;
            }

            .cancel {
                background: none;
                color: #4F4C6A;
                margin-right: 20px;
            }
        }

    }
}