.wrapper{

    h2{
        padding: 14px 0 0 14px;
        color: #4F4C6A;
    }

}

.projects{

    box-sizing: border-box;
    padding: 14px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: fit-content;
    gap: 14px;
    
}

.manager-project-screen{

    button{

        align-self: flex-end;
        margin: 7px 14px;

    }
}

.project{
    min-width: 250px;
    height: fit-content;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 24px 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;

    .name{
        font-size: large;
        font-weight: 700;
        text-align: center;
    }

    .description{
        font-size: small;
        font-weight: 300;
    }

    .team{

        gap: 7px;
        display: flex;
        flex-direction: column;

        .title{
            font-size: normal;
            font-weight: 500;
        }

        .profiles{
            display: grid;
            grid-template-columns: repeat(6, 30px);

        }

        .profile{
            
            border-radius: 50%;
            
            

        }

        .profilepicture{

            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 3px solid white;
            justify-self: center;
            background-color: aliceblue;
            

        }
            
            
    
            img{
                
                height: 40px;
                padding-top: 10px;
            }
    
            
        }

        .attribute{
            display: flex;
            align-items: center;
            gap: 7px;
            font-size: small;
        }
    }
