.login-screen{

    display: flex;
    align-items: center;
    justify-content: center;

    .backdrop{
        width: 100%;
        position: absolute;
        z-index: -10;
        bottom: 0;

        animation: backdrop-animation 5s infinite;

    }

}

@keyframes backdrop-animation {
    0% {
      transform: translateX(0%);
      transform: scaleX(100%);
      transform: scaleY(100%);
    }
  
    50% {
      transform: translateX(10%);
      transform: scaleX(110%);
      transform: scaleY(120%);
    }

    100% {
        transform: translateX(0%);
        transform: scaleX(100%);
        transform: scaleY(100%);
      }
  }

.login-container{
    align-items: center;
    gap: 14px;
    transform: translatey(-50px);
}



.greeting{
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
        font-size: 20px;
        font-weight: 300;
    }

}

.logo{

    display: flex;
    flex-direction: row;

    

    img{

        width: 240px;

    }
}

.login-form-container{
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding: 14px 28px;
    border-radius: 14px;
    min-width: 500px;
    min-height: 300px;
    box-shadow: 1px 1px 20px #00000058;
}


.login-form form{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.register-text{
    font-size: small;
    display: flex;
    gap: 7px;

    a{
        text-decoration: none;
    }
    
}

.login-input{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 200px;

}

