 .start-screen{
    .wrapper{

        flex: 1;
        align-items: center;
        justify-content: center;
        padding-bottom: 80px;

        h1{

            font-size: 4rem;
            background-color: white;
            padding: 7px 28px ;

        }

    }
 }  
    